<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>.null</key>
    <string>_null.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>anusvara</key>
    <string>anusvara.glif</string>
    <key>visarga</key>
    <string>visarga.glif</string>
    <key>sinA</key>
    <string>sinA_.glif</string>
    <key>sinAa</key>
    <string>sinA_a.glif</string>
    <key>sinAe</key>
    <string>sinA_e.glif</string>
    <key>sinAae</key>
    <string>sinA_ae.glif</string>
    <key>sinI</key>
    <string>sinI_.glif</string>
    <key>sinIi</key>
    <string>sinI_i.glif</string>
    <key>sinU</key>
    <string>sinU_.glif</string>
    <key>sinUu</key>
    <string>sinU_u.glif</string>
    <key>sinvocalicR</key>
    <string>sinvocalicR_.glif</string>
    <key>sinvocalicRr</key>
    <string>sinvocalicR_r.glif</string>
    <key>sinvocalicL</key>
    <string>sinvocalicL_.glif</string>
    <key>sinvocalicLL</key>
    <string>sinvocalicL_L_.glif</string>
    <key>sinE</key>
    <string>sinE_.glif</string>
    <key>sinEe</key>
    <string>sinE_e.glif</string>
    <key>sinAi</key>
    <string>sinA_i.glif</string>
    <key>sinO</key>
    <string>sinO_.glif</string>
    <key>sinOo</key>
    <string>sinO_o.glif</string>
    <key>sinAu</key>
    <string>sinA_u.glif</string>
    <key>sinKa</key>
    <string>sinK_a.glif</string>
    <key>sinKha</key>
    <string>sinK_ha.glif</string>
    <key>sinGa</key>
    <string>sinG_a.glif</string>
    <key>sinGha</key>
    <string>sinG_ha.glif</string>
    <key>sinNga</key>
    <string>sinN_ga.glif</string>
    <key>sinNnga</key>
    <string>sinN_nga.glif</string>
    <key>sinCa</key>
    <string>sinC_a.glif</string>
    <key>sinCha</key>
    <string>sinC_ha.glif</string>
    <key>sinJa</key>
    <string>sinJ_a.glif</string>
    <key>sinJha</key>
    <string>sinJ_ha.glif</string>
    <key>sinNya</key>
    <string>sinN_ya.glif</string>
    <key>sinJnya</key>
    <string>sinJ_nya.glif</string>
    <key>sinNdja</key>
    <string>sinN_dja.glif</string>
    <key>sinTta</key>
    <string>sinT_ta.glif</string>
    <key>sinTtha</key>
    <string>sinT_tha.glif</string>
    <key>sinDda</key>
    <string>sinD_da.glif</string>
    <key>sinDdha</key>
    <string>sinD_dha.glif</string>
    <key>sinNna</key>
    <string>sinN_na.glif</string>
    <key>sinNndda</key>
    <string>sinN_ndda.glif</string>
    <key>sinTa</key>
    <string>sinT_a.glif</string>
    <key>sinTha</key>
    <string>sinT_ha.glif</string>
    <key>sinDa</key>
    <string>sinD_a.glif</string>
    <key>sinDha</key>
    <string>sinD_ha.glif</string>
    <key>sinNa</key>
    <string>sinN_a.glif</string>
    <key>sinNda</key>
    <string>sinN_da.glif</string>
    <key>sinPa</key>
    <string>sinP_a.glif</string>
    <key>sinPha</key>
    <string>sinP_ha.glif</string>
    <key>sinBa</key>
    <string>sinB_a.glif</string>
    <key>sinBha</key>
    <string>sinB_ha.glif</string>
    <key>sinMa</key>
    <string>sinM_a.glif</string>
    <key>sinMba</key>
    <string>sinM_ba.glif</string>
    <key>sinYa</key>
    <string>sinY_a.glif</string>
    <key>sinRa</key>
    <string>sinR_a.glif</string>
    <key>sinLa</key>
    <string>sinL_a.glif</string>
    <key>sinVa</key>
    <string>sinV_a.glif</string>
    <key>sinSha</key>
    <string>sinS_ha.glif</string>
    <key>sinSsa</key>
    <string>sinS_sa.glif</string>
    <key>sinSa</key>
    <string>sinS_a.glif</string>
    <key>sinHa</key>
    <string>sinH_a.glif</string>
    <key>sinLla</key>
    <string>sinL_la.glif</string>
    <key>sinFa</key>
    <string>sinF_a.glif</string>
    <key>sinVirama</key>
    <string>sinV_irama.glif</string>
    <key>sinVirama.alt</key>
    <string>sinV_irama.alt.glif</string>
    <key>sinMatraAa</key>
    <string>sinM_atraA_a.glif</string>
    <key>sinMatraAa.virama</key>
    <string>sinM_atraA_a.virama.glif</string>
    <key>sinMatraAe</key>
    <string>sinM_atraA_e.glif</string>
    <key>sinMatraAae</key>
    <string>sinM_atraA_ae.glif</string>
    <key>sinMatraI</key>
    <string>sinM_atraI_.glif</string>
    <key>sinMatraIi</key>
    <string>sinM_atraI_i.glif</string>
    <key>sinMatraU</key>
    <string>sinM_atraU_.glif</string>
    <key>sinMatraU.alt5</key>
    <string>sinM_atraU_.alt5.glif</string>
    <key>sinMatraUu</key>
    <string>sinM_atraU_u.glif</string>
    <key>sinMatraUu.alt5</key>
    <string>sinM_atraU_u.alt5.glif</string>
    <key>sinMatraR</key>
    <string>sinM_atraR_.glif</string>
    <key>sinMatraRr</key>
    <string>sinM_atraR_r.glif</string>
    <key>sinMatraE</key>
    <string>sinM_atraE_.glif</string>
    <key>sinMatraEe</key>
    <string>sinM_atraE_e.glif</string>
    <key>sinMatraAi</key>
    <string>sinM_atraA_i.glif</string>
    <key>sinMatraO</key>
    <string>sinM_atraO_.glif</string>
    <key>sinMatraOo</key>
    <string>sinM_atraO_o.glif</string>
    <key>sinMatraAu</key>
    <string>sinM_atraA_u.glif</string>
    <key>sinMatraL</key>
    <string>sinM_atraL_.glif</string>
    <key>sinMatraLl</key>
    <string>sinM_atraL_l.glif</string>
    <key>sinkundaliya</key>
    <string>sinkundaliya.glif</string>
    <key>zwnj</key>
    <string>zwnj.glif</string>
    <key>zwj</key>
    <string>zwj.glif</string>
    <key>dottedcircle</key>
    <string>dottedcircle.glif</string>
    <key>sinYa.post</key>
    <string>sinY_a.post.glif</string>
    <key>sinY.post.virama</key>
    <string>sinY_.post.virama.glif</string>
    <key>sinYI.post</key>
    <string>sinY_I_.post.glif</string>
    <key>sinYIi.post</key>
    <string>sinY_I_i.post.glif</string>
    <key>sinYU.post</key>
    <string>sinY_U_.post.glif</string>
    <key>sinYUu.post</key>
    <string>sinY_U_u.post.glif</string>
    <key>sinYa.post.reph</key>
    <string>sinY_a.post.reph.glif</string>
    <key>sinYU.post.reph</key>
    <string>sinY_U_.post.reph.glif</string>
    <key>sinYUu.post.reph</key>
    <string>sinY_U_u.post.reph.glif</string>
    <key>sinRakar</key>
    <string>sinR_akar.glif</string>
    <key>sinReph</key>
    <string>sinR_eph.glif</string>
    <key>sinK.virama</key>
    <string>sinK_.virama.glif</string>
    <key>sinKAa</key>
    <string>sinK_A_a.glif</string>
    <key>sinKAa.virama</key>
    <string>sinK_A_a.virama.glif</string>
    <key>sinKI</key>
    <string>sinK_I_.glif</string>
    <key>sinKIi</key>
    <string>sinK_I_i.glif</string>
    <key>sinKU</key>
    <string>sinK_U_.glif</string>
    <key>sinKUu</key>
    <string>sinK_U_u.glif</string>
    <key>sinKRa</key>
    <string>sinK_R_a.glif</string>
    <key>sinKRI</key>
    <string>sinK_R_I_.glif</string>
    <key>sinKRIi</key>
    <string>sinK_R_I_i.glif</string>
    <key>sinKR.virama</key>
    <string>sinK_R_.virama.glif</string>
    <key>sinKa.reph</key>
    <string>sinK_a.reph.glif</string>
    <key>sinKU.reph</key>
    <string>sinK_U_.reph.glif</string>
    <key>sinKUu.reph</key>
    <string>sinK_U_u.reph.glif</string>
    <key>sinKh.virama</key>
    <string>sinK_h.virama.glif</string>
    <key>sinKhI</key>
    <string>sinK_hI_.glif</string>
    <key>sinKhIi</key>
    <string>sinK_hI_i.glif</string>
    <key>sinKhU</key>
    <string>sinK_hU_.glif</string>
    <key>sinKhUu</key>
    <string>sinK_hU_u.glif</string>
    <key>sinKhRa</key>
    <string>sinK_hR_a.glif</string>
    <key>sinKhRI</key>
    <string>sinK_hR_I_.glif</string>
    <key>sinKhRIi</key>
    <string>sinK_hR_I_i.glif</string>
    <key>sinKhR.virama</key>
    <string>sinK_hR_.virama.glif</string>
    <key>sinKha.reph</key>
    <string>sinK_ha.reph.glif</string>
    <key>sinKhU.reph</key>
    <string>sinK_hU_.reph.glif</string>
    <key>sinKhUu.reph</key>
    <string>sinK_hU_u.reph.glif</string>
    <key>sinG.virama</key>
    <string>sinG_.virama.glif</string>
    <key>sinGAa</key>
    <string>sinG_A_a.glif</string>
    <key>sinGAa.virama</key>
    <string>sinG_A_a.virama.glif</string>
    <key>sinGI</key>
    <string>sinG_I_.glif</string>
    <key>sinGIi</key>
    <string>sinG_I_i.glif</string>
    <key>sinGU</key>
    <string>sinG_U_.glif</string>
    <key>sinGUu</key>
    <string>sinG_U_u.glif</string>
    <key>sinGRa</key>
    <string>sinG_R_a.glif</string>
    <key>sinGRI</key>
    <string>sinG_R_I_.glif</string>
    <key>sinGRIi</key>
    <string>sinG_R_I_i.glif</string>
    <key>sinGR.virama</key>
    <string>sinG_R_.virama.glif</string>
    <key>sinGa.reph</key>
    <string>sinG_a.reph.glif</string>
    <key>sinGU.reph</key>
    <string>sinG_U_.reph.glif</string>
    <key>sinGUu.reph</key>
    <string>sinG_U_u.reph.glif</string>
    <key>sinGh.virama</key>
    <string>sinG_h.virama.glif</string>
    <key>sinGhI</key>
    <string>sinG_hI_.glif</string>
    <key>sinGhIi</key>
    <string>sinG_hI_i.glif</string>
    <key>sinGhU</key>
    <string>sinG_hU_.glif</string>
    <key>sinGhUu</key>
    <string>sinG_hU_u.glif</string>
    <key>sinGhRa</key>
    <string>sinG_hR_a.glif</string>
    <key>sinGhRI</key>
    <string>sinG_hR_I_.glif</string>
    <key>sinGhRIi</key>
    <string>sinG_hR_I_i.glif</string>
    <key>sinGhR.virama</key>
    <string>sinG_hR_.virama.glif</string>
    <key>sinGha.reph</key>
    <string>sinG_ha.reph.glif</string>
    <key>sinGhU.reph</key>
    <string>sinG_hU_.reph.glif</string>
    <key>sinGhUu.reph</key>
    <string>sinG_hU_u.reph.glif</string>
    <key>sinNg.virama</key>
    <string>sinN_g.virama.glif</string>
    <key>sinNgI</key>
    <string>sinN_gI_.glif</string>
    <key>sinNgIi</key>
    <string>sinN_gI_i.glif</string>
    <key>sinNgU</key>
    <string>sinN_gU_.glif</string>
    <key>sinNgUu</key>
    <string>sinN_gU_u.glif</string>
    <key>sinNga.reph</key>
    <string>sinN_ga.reph.glif</string>
    <key>sinNng.virama</key>
    <string>sinN_ng.virama.glif</string>
    <key>sinNngAa</key>
    <string>sinN_ngA_a.glif</string>
    <key>sinNngAa.virama</key>
    <string>sinN_ngA_a.virama.glif</string>
    <key>sinNngI</key>
    <string>sinN_ngI_.glif</string>
    <key>sinNngIi</key>
    <string>sinN_ngI_i.glif</string>
    <key>sinNngU</key>
    <string>sinN_ngU_.glif</string>
    <key>sinNngUu</key>
    <string>sinN_ngU_u.glif</string>
    <key>sinNnga.reph</key>
    <string>sinN_nga.reph.glif</string>
    <key>sinC.virama</key>
    <string>sinC_.virama.glif</string>
    <key>sinCI</key>
    <string>sinC_I_.glif</string>
    <key>sinCIi</key>
    <string>sinC_I_i.glif</string>
    <key>sinCU</key>
    <string>sinC_U_.glif</string>
    <key>sinCUu</key>
    <string>sinC_U_u.glif</string>
    <key>sinCRa</key>
    <string>sinC_R_a.glif</string>
    <key>sinCRI</key>
    <string>sinC_R_I_.glif</string>
    <key>sinCRIi</key>
    <string>sinC_R_I_i.glif</string>
    <key>sinCR.virama</key>
    <string>sinC_R_.virama.glif</string>
    <key>sinCa.reph</key>
    <string>sinC_a.reph.glif</string>
    <key>sinCU.reph</key>
    <string>sinC_U_.reph.glif</string>
    <key>sinCUu.reph</key>
    <string>sinC_U_u.reph.glif</string>
    <key>sinCh.virama</key>
    <string>sinC_h.virama.glif</string>
    <key>sinChI</key>
    <string>sinC_hI_.glif</string>
    <key>sinChIi</key>
    <string>sinC_hI_i.glif</string>
    <key>sinChU</key>
    <string>sinC_hU_.glif</string>
    <key>sinChUu</key>
    <string>sinC_hU_u.glif</string>
    <key>sinChRa</key>
    <string>sinC_hR_a.glif</string>
    <key>sinChRI</key>
    <string>sinC_hR_I_.glif</string>
    <key>sinChRIi</key>
    <string>sinC_hR_I_i.glif</string>
    <key>sinChR.virama</key>
    <string>sinC_hR_.virama.glif</string>
    <key>sinCha.reph</key>
    <string>sinC_ha.reph.glif</string>
    <key>sinChU.reph</key>
    <string>sinC_hU_.reph.glif</string>
    <key>sinChUu.reph</key>
    <string>sinC_hU_u.reph.glif</string>
    <key>sinJ.virama</key>
    <string>sinJ_.virama.glif</string>
    <key>sinJI</key>
    <string>sinJ_I_.glif</string>
    <key>sinJIi</key>
    <string>sinJ_I_i.glif</string>
    <key>sinJU</key>
    <string>sinJ_U_.glif</string>
    <key>sinJUu</key>
    <string>sinJ_U_u.glif</string>
    <key>sinJRa</key>
    <string>sinJ_R_a.glif</string>
    <key>sinJRI</key>
    <string>sinJ_R_I_.glif</string>
    <key>sinJRIi</key>
    <string>sinJ_R_I_i.glif</string>
    <key>sinJR.virama</key>
    <string>sinJ_R_.virama.glif</string>
    <key>sinJa.reph</key>
    <string>sinJ_a.reph.glif</string>
    <key>sinJU.reph</key>
    <string>sinJ_U_.reph.glif</string>
    <key>sinJUu.reph</key>
    <string>sinJ_U_u.reph.glif</string>
    <key>sinJh.virama</key>
    <string>sinJ_h.virama.glif</string>
    <key>sinJhI</key>
    <string>sinJ_hI_.glif</string>
    <key>sinJhIi</key>
    <string>sinJ_hI_i.glif</string>
    <key>sinJhU</key>
    <string>sinJ_hU_.glif</string>
    <key>sinJhUu</key>
    <string>sinJ_hU_u.glif</string>
    <key>sinJhRa</key>
    <string>sinJ_hR_a.glif</string>
    <key>sinJhRI</key>
    <string>sinJ_hR_I_.glif</string>
    <key>sinJhRIi</key>
    <string>sinJ_hR_I_i.glif</string>
    <key>sinJhR.virama</key>
    <string>sinJ_hR_.virama.glif</string>
    <key>sinJha.reph</key>
    <string>sinJ_ha.reph.glif</string>
    <key>sinJhU.reph</key>
    <string>sinJ_hU_.reph.glif</string>
    <key>sinJhUu.reph</key>
    <string>sinJ_hU_u.reph.glif</string>
    <key>sinNy.virama</key>
    <string>sinN_y.virama.glif</string>
    <key>sinNyI</key>
    <string>sinN_yI_.glif</string>
    <key>sinNyIi</key>
    <string>sinN_yI_i.glif</string>
    <key>sinNyU</key>
    <string>sinN_yU_.glif</string>
    <key>sinNyUu</key>
    <string>sinN_yU_u.glif</string>
    <key>sinNya.reph</key>
    <string>sinN_ya.reph.glif</string>
    <key>sinJny.virama</key>
    <string>sinJ_ny.virama.glif</string>
    <key>sinJnyI</key>
    <string>sinJ_nyI_.glif</string>
    <key>sinJnyIi</key>
    <string>sinJ_nyI_i.glif</string>
    <key>sinJnyU</key>
    <string>sinJ_nyU_.glif</string>
    <key>sinJnyUu</key>
    <string>sinJ_nyU_u.glif</string>
    <key>sinJnya.reph</key>
    <string>sinJ_nya.reph.glif</string>
    <key>sinNdj.virama</key>
    <string>sinN_dj.virama.glif</string>
    <key>sinNdjI</key>
    <string>sinN_djI_.glif</string>
    <key>sinNdjIi</key>
    <string>sinN_djI_i.glif</string>
    <key>sinNdjU</key>
    <string>sinN_djU_.glif</string>
    <key>sinNdjUu</key>
    <string>sinN_djU_u.glif</string>
    <key>sinNdja.reph</key>
    <string>sinN_dja.reph.glif</string>
    <key>sinTt.virama</key>
    <string>sinT_t.virama.glif</string>
    <key>sinTtI</key>
    <string>sinT_tI_.glif</string>
    <key>sinTtIi</key>
    <string>sinT_tI_i.glif</string>
    <key>sinTtU</key>
    <string>sinT_tU_.glif</string>
    <key>sinTtUu</key>
    <string>sinT_tU_u.glif</string>
    <key>sinTtRa</key>
    <string>sinT_tR_a.glif</string>
    <key>sinTtRI</key>
    <string>sinT_tR_I_.glif</string>
    <key>sinTtRIi</key>
    <string>sinT_tR_I_i.glif</string>
    <key>sinTtR.virama</key>
    <string>sinT_tR_.virama.glif</string>
    <key>sinTta.reph</key>
    <string>sinT_ta.reph.glif</string>
    <key>sinTtU.reph</key>
    <string>sinT_tU_.reph.glif</string>
    <key>sinTtUu.reph</key>
    <string>sinT_tU_u.reph.glif</string>
    <key>sinTth.virama</key>
    <string>sinT_th.virama.glif</string>
    <key>sinTthI</key>
    <string>sinT_thI_.glif</string>
    <key>sinTthIi</key>
    <string>sinT_thI_i.glif</string>
    <key>sinTthU</key>
    <string>sinT_thU_.glif</string>
    <key>sinTthUu</key>
    <string>sinT_thU_u.glif</string>
    <key>sinTthRa</key>
    <string>sinT_thR_a.glif</string>
    <key>sinTthRI</key>
    <string>sinT_thR_I_.glif</string>
    <key>sinTthRIi</key>
    <string>sinT_thR_I_i.glif</string>
    <key>sinTthR.virama</key>
    <string>sinT_thR_.virama.glif</string>
    <key>sinTtha.reph</key>
    <string>sinT_tha.reph.glif</string>
    <key>sinTthU.reph</key>
    <string>sinT_thU_.reph.glif</string>
    <key>sinTthUu.reph</key>
    <string>sinT_thU_u.reph.glif</string>
    <key>sinDd.virama</key>
    <string>sinD_d.virama.glif</string>
    <key>sinDdI</key>
    <string>sinD_dI_.glif</string>
    <key>sinDdIi</key>
    <string>sinD_dI_i.glif</string>
    <key>sinDdU</key>
    <string>sinD_dU_.glif</string>
    <key>sinDdUu</key>
    <string>sinD_dU_u.glif</string>
    <key>sinDdRa</key>
    <string>sinD_dR_a.glif</string>
    <key>sinDdRI</key>
    <string>sinD_dR_I_.glif</string>
    <key>sinDdRIi</key>
    <string>sinD_dR_I_i.glif</string>
    <key>sinDdR.virama</key>
    <string>sinD_dR_.virama.glif</string>
    <key>sinDda.reph</key>
    <string>sinD_da.reph.glif</string>
    <key>sinDdU.reph</key>
    <string>sinD_dU_.reph.glif</string>
    <key>sinDdUu.reph</key>
    <string>sinD_dU_u.reph.glif</string>
    <key>sinDdh.virama</key>
    <string>sinD_dh.virama.glif</string>
    <key>sinDdhI</key>
    <string>sinD_dhI_.glif</string>
    <key>sinDdhIi</key>
    <string>sinD_dhI_i.glif</string>
    <key>sinDdhU</key>
    <string>sinD_dhU_.glif</string>
    <key>sinDdhUu</key>
    <string>sinD_dhU_u.glif</string>
    <key>sinDdhRa</key>
    <string>sinD_dhR_a.glif</string>
    <key>sinDdhRI</key>
    <string>sinD_dhR_I_.glif</string>
    <key>sinDdhRIi</key>
    <string>sinD_dhR_I_i.glif</string>
    <key>sinDdhR.virama</key>
    <string>sinD_dhR_.virama.glif</string>
    <key>sinDdha.reph</key>
    <string>sinD_dha.reph.glif</string>
    <key>sinDdhU.reph</key>
    <string>sinD_dhU_.reph.glif</string>
    <key>sinDdhUu.reph</key>
    <string>sinD_dhU_u.reph.glif</string>
    <key>sinNn.virama</key>
    <string>sinN_n.virama.glif</string>
    <key>sinNnAa</key>
    <string>sinN_nA_a.glif</string>
    <key>sinNnAa.virama</key>
    <string>sinN_nA_a.virama.glif</string>
    <key>sinNnI</key>
    <string>sinN_nI_.glif</string>
    <key>sinNnIi</key>
    <string>sinN_nI_i.glif</string>
    <key>sinNnU</key>
    <string>sinN_nU_.glif</string>
    <key>sinNnUu</key>
    <string>sinN_nU_u.glif</string>
    <key>sinNna.reph</key>
    <string>sinN_na.reph.glif</string>
    <key>sinNndd.virama</key>
    <string>sinN_ndd.virama.glif</string>
    <key>sinNnddI</key>
    <string>sinN_nddI_.glif</string>
    <key>sinNnddIi</key>
    <string>sinN_nddI_i.glif</string>
    <key>sinNnddU</key>
    <string>sinN_nddU_.glif</string>
    <key>sinNnddUu</key>
    <string>sinN_nddU_u.glif</string>
    <key>sinNndda.reph</key>
    <string>sinN_ndda.reph.glif</string>
    <key>sinT.virama</key>
    <string>sinT_.virama.glif</string>
    <key>sinTAa</key>
    <string>sinT_A_a.glif</string>
    <key>sinTAa.virama</key>
    <string>sinT_A_a.virama.glif</string>
    <key>sinTI</key>
    <string>sinT_I_.glif</string>
    <key>sinTIi</key>
    <string>sinT_I_i.glif</string>
    <key>sinTU</key>
    <string>sinT_U_.glif</string>
    <key>sinTUu</key>
    <string>sinT_U_u.glif</string>
    <key>sinTRa</key>
    <string>sinT_R_a.glif</string>
    <key>sinTRI</key>
    <string>sinT_R_I_.glif</string>
    <key>sinTRIi</key>
    <string>sinT_R_I_i.glif</string>
    <key>sinTR.virama</key>
    <string>sinT_R_.virama.glif</string>
    <key>sinTa.reph</key>
    <string>sinT_a.reph.glif</string>
    <key>sinTU.reph</key>
    <string>sinT_U_.reph.glif</string>
    <key>sinTUu.reph</key>
    <string>sinT_U_u.reph.glif</string>
    <key>sinTh.virama</key>
    <string>sinT_h.virama.glif</string>
    <key>sinThI</key>
    <string>sinT_hI_.glif</string>
    <key>sinThIi</key>
    <string>sinT_hI_i.glif</string>
    <key>sinThU</key>
    <string>sinT_hU_.glif</string>
    <key>sinThUu</key>
    <string>sinT_hU_u.glif</string>
    <key>sinThRa</key>
    <string>sinT_hR_a.glif</string>
    <key>sinThRI</key>
    <string>sinT_hR_I_.glif</string>
    <key>sinThRIi</key>
    <string>sinT_hR_I_i.glif</string>
    <key>sinThR.virama</key>
    <string>sinT_hR_.virama.glif</string>
    <key>sinTha.reph</key>
    <string>sinT_ha.reph.glif</string>
    <key>sinThU.reph</key>
    <string>sinT_hU_.reph.glif</string>
    <key>sinThUu.reph</key>
    <string>sinT_hU_u.reph.glif</string>
    <key>sinD.virama</key>
    <string>sinD_.virama.glif</string>
    <key>sinDI</key>
    <string>sinD_I_.glif</string>
    <key>sinDIi</key>
    <string>sinD_I_i.glif</string>
    <key>sinDU</key>
    <string>sinD_U_.glif</string>
    <key>sinDUu</key>
    <string>sinD_U_u.glif</string>
    <key>sinDRa</key>
    <string>sinD_R_a.glif</string>
    <key>sinDRI</key>
    <string>sinD_R_I_.glif</string>
    <key>sinDRIi</key>
    <string>sinD_R_I_i.glif</string>
    <key>sinDR.virama</key>
    <string>sinD_R_.virama.glif</string>
    <key>sinDa.reph</key>
    <string>sinD_a.reph.glif</string>
    <key>sinDU.reph</key>
    <string>sinD_U_.reph.glif</string>
    <key>sinDUu.reph</key>
    <string>sinD_U_u.reph.glif</string>
    <key>sinDh.virama</key>
    <string>sinD_h.virama.glif</string>
    <key>sinDhI</key>
    <string>sinD_hI_.glif</string>
    <key>sinDhIi</key>
    <string>sinD_hI_i.glif</string>
    <key>sinDhU</key>
    <string>sinD_hU_.glif</string>
    <key>sinDhUu</key>
    <string>sinD_hU_u.glif</string>
    <key>sinDhRa</key>
    <string>sinD_hR_a.glif</string>
    <key>sinDhRI</key>
    <string>sinD_hR_I_.glif</string>
    <key>sinDhRIi</key>
    <string>sinD_hR_I_i.glif</string>
    <key>sinDhR.virama</key>
    <string>sinD_hR_.virama.glif</string>
    <key>sinDha.reph</key>
    <string>sinD_ha.reph.glif</string>
    <key>sinDhU.reph</key>
    <string>sinD_hU_.reph.glif</string>
    <key>sinDhUu.reph</key>
    <string>sinD_hU_u.reph.glif</string>
    <key>sinN.virama</key>
    <string>sinN_.virama.glif</string>
    <key>sinNAa</key>
    <string>sinN_A_a.glif</string>
    <key>sinNAa.virama</key>
    <string>sinN_A_a.virama.glif</string>
    <key>sinNI</key>
    <string>sinN_I_.glif</string>
    <key>sinNIi</key>
    <string>sinN_I_i.glif</string>
    <key>sinNU</key>
    <string>sinN_U_.glif</string>
    <key>sinNUu</key>
    <string>sinN_U_u.glif</string>
    <key>sinNa.reph</key>
    <string>sinN_a.reph.glif</string>
    <key>sinNd.virama</key>
    <string>sinN_d.virama.glif</string>
    <key>sinNdI</key>
    <string>sinN_dI_.glif</string>
    <key>sinNdIi</key>
    <string>sinN_dI_i.glif</string>
    <key>sinNdU</key>
    <string>sinN_dU_.glif</string>
    <key>sinNdUu</key>
    <string>sinN_dU_u.glif</string>
    <key>sinNda.reph</key>
    <string>sinN_da.reph.glif</string>
    <key>sinP.virama</key>
    <string>sinP_.virama.glif</string>
    <key>sinPI</key>
    <string>sinP_I_.glif</string>
    <key>sinPIi</key>
    <string>sinP_I_i.glif</string>
    <key>sinPU</key>
    <string>sinP_U_.glif</string>
    <key>sinPUu</key>
    <string>sinP_U_u.glif</string>
    <key>sinPRa</key>
    <string>sinP_R_a.glif</string>
    <key>sinPRI</key>
    <string>sinP_R_I_.glif</string>
    <key>sinPRIi</key>
    <string>sinP_R_I_i.glif</string>
    <key>sinPR.virama</key>
    <string>sinP_R_.virama.glif</string>
    <key>sinPa.reph</key>
    <string>sinP_a.reph.glif</string>
    <key>sinPU.reph</key>
    <string>sinP_U_.reph.glif</string>
    <key>sinPUu.reph</key>
    <string>sinP_U_u.reph.glif</string>
    <key>sinPh.virama</key>
    <string>sinP_h.virama.glif</string>
    <key>sinPhI</key>
    <string>sinP_hI_.glif</string>
    <key>sinPhIi</key>
    <string>sinP_hI_i.glif</string>
    <key>sinPhU</key>
    <string>sinP_hU_.glif</string>
    <key>sinPhUu</key>
    <string>sinP_hU_u.glif</string>
    <key>sinPhRa</key>
    <string>sinP_hR_a.glif</string>
    <key>sinPhRI</key>
    <string>sinP_hR_I_.glif</string>
    <key>sinPhRIi</key>
    <string>sinP_hR_I_i.glif</string>
    <key>sinPhR.virama</key>
    <string>sinP_hR_.virama.glif</string>
    <key>sinPha.reph</key>
    <string>sinP_ha.reph.glif</string>
    <key>sinPhU.reph</key>
    <string>sinP_hU_.reph.glif</string>
    <key>sinPhUu.reph</key>
    <string>sinP_hU_u.reph.glif</string>
    <key>sinB.virama</key>
    <string>sinB_.virama.glif</string>
    <key>sinBI</key>
    <string>sinB_I_.glif</string>
    <key>sinBIi</key>
    <string>sinB_I_i.glif</string>
    <key>sinBU</key>
    <string>sinB_U_.glif</string>
    <key>sinBUu</key>
    <string>sinB_U_u.glif</string>
    <key>sinBRa</key>
    <string>sinB_R_a.glif</string>
    <key>sinBRI</key>
    <string>sinB_R_I_.glif</string>
    <key>sinBRIi</key>
    <string>sinB_R_I_i.glif</string>
    <key>sinBR.virama</key>
    <string>sinB_R_.virama.glif</string>
    <key>sinBa.reph</key>
    <string>sinB_a.reph.glif</string>
    <key>sinBU.reph</key>
    <string>sinB_U_.reph.glif</string>
    <key>sinBUu.reph</key>
    <string>sinB_U_u.reph.glif</string>
    <key>sinBh.virama</key>
    <string>sinB_h.virama.glif</string>
    <key>sinBhAa</key>
    <string>sinB_hA_a.glif</string>
    <key>sinBhAa.virama</key>
    <string>sinB_hA_a.virama.glif</string>
    <key>sinBhI</key>
    <string>sinB_hI_.glif</string>
    <key>sinBhIi</key>
    <string>sinB_hI_i.glif</string>
    <key>sinBhU</key>
    <string>sinB_hU_.glif</string>
    <key>sinBhUu</key>
    <string>sinB_hU_u.glif</string>
    <key>sinBhRa</key>
    <string>sinB_hR_a.glif</string>
    <key>sinBhRI</key>
    <string>sinB_hR_I_.glif</string>
    <key>sinBhRIi</key>
    <string>sinB_hR_I_i.glif</string>
    <key>sinBhR.virama</key>
    <string>sinB_hR_.virama.glif</string>
    <key>sinBha.reph</key>
    <string>sinB_ha.reph.glif</string>
    <key>sinBhU.reph</key>
    <string>sinB_hU_.reph.glif</string>
    <key>sinBhUu.reph</key>
    <string>sinB_hU_u.reph.glif</string>
    <key>sinM.virama</key>
    <string>sinM_.virama.glif</string>
    <key>sinMI</key>
    <string>sinM_I_.glif</string>
    <key>sinMIi</key>
    <string>sinM_I_i.glif</string>
    <key>sinMU</key>
    <string>sinM_U_.glif</string>
    <key>sinMUu</key>
    <string>sinM_U_u.glif</string>
    <key>sinMa.reph</key>
    <string>sinM_a.reph.glif</string>
    <key>sinMb.virama</key>
    <string>sinM_b.virama.glif</string>
    <key>sinMbI</key>
    <string>sinM_bI_.glif</string>
    <key>sinMbIi</key>
    <string>sinM_bI_i.glif</string>
    <key>sinMbU</key>
    <string>sinM_bU_.glif</string>
    <key>sinMbUu</key>
    <string>sinM_bU_u.glif</string>
    <key>sinMba.reph</key>
    <string>sinM_ba.reph.glif</string>
    <key>sinY.virama</key>
    <string>sinY_.virama.glif</string>
    <key>sinYI</key>
    <string>sinY_I_.glif</string>
    <key>sinYIi</key>
    <string>sinY_I_i.glif</string>
    <key>sinYU</key>
    <string>sinY_U_.glif</string>
    <key>sinYUu</key>
    <string>sinY_U_u.glif</string>
    <key>sinYa.reph</key>
    <string>sinY_a.reph.glif</string>
    <key>sinYU.reph</key>
    <string>sinY_U_.reph.glif</string>
    <key>sinYUu.reph</key>
    <string>sinY_U_u.reph.glif</string>
    <key>sinR.virama</key>
    <string>sinR_.virama.glif</string>
    <key>sinRAe</key>
    <string>sinR_A_e.glif</string>
    <key>sinRAae</key>
    <string>sinR_A_ae.glif</string>
    <key>sinRI</key>
    <string>sinR_I_.glif</string>
    <key>sinRIi</key>
    <string>sinR_I_i.glif</string>
    <key>sinRU</key>
    <string>sinR_U_.glif</string>
    <key>sinRUu</key>
    <string>sinR_U_u.glif</string>
    <key>sinL.virama</key>
    <string>sinL_.virama.glif</string>
    <key>sinLI</key>
    <string>sinL_I_.glif</string>
    <key>sinLIi</key>
    <string>sinL_I_i.glif</string>
    <key>sinLU</key>
    <string>sinL_U_.glif</string>
    <key>sinLUu</key>
    <string>sinL_U_u.glif</string>
    <key>sinV.virama</key>
    <string>sinV_.virama.glif</string>
    <key>sinVI</key>
    <string>sinV_I_.glif</string>
    <key>sinVIi</key>
    <string>sinV_I_i.glif</string>
    <key>sinVU</key>
    <string>sinV_U_.glif</string>
    <key>sinVUu</key>
    <string>sinV_U_u.glif</string>
    <key>sinVRa</key>
    <string>sinV_R_a.glif</string>
    <key>sinVRI</key>
    <string>sinV_R_I_.glif</string>
    <key>sinVRIi</key>
    <string>sinV_R_I_i.glif</string>
    <key>sinVR.virama</key>
    <string>sinV_R_.virama.glif</string>
    <key>sinVa.reph</key>
    <string>sinV_a.reph.glif</string>
    <key>sinVU.reph</key>
    <string>sinV_U_.reph.glif</string>
    <key>sinVUu.reph</key>
    <string>sinV_U_u.reph.glif</string>
    <key>sinSh.virama</key>
    <string>sinS_h.virama.glif</string>
    <key>sinShI</key>
    <string>sinS_hI_.glif</string>
    <key>sinShIi</key>
    <string>sinS_hI_i.glif</string>
    <key>sinShU</key>
    <string>sinS_hU_.glif</string>
    <key>sinShUu</key>
    <string>sinS_hU_u.glif</string>
    <key>sinShRa</key>
    <string>sinS_hR_a.glif</string>
    <key>sinShRI</key>
    <string>sinS_hR_I_.glif</string>
    <key>sinShRIi</key>
    <string>sinS_hR_I_i.glif</string>
    <key>sinShR.virama</key>
    <string>sinS_hR_.virama.glif</string>
    <key>sinSha.reph</key>
    <string>sinS_ha.reph.glif</string>
    <key>sinShU.reph</key>
    <string>sinS_hU_.reph.glif</string>
    <key>sinShUu.reph</key>
    <string>sinS_hU_u.reph.glif</string>
    <key>sinSs.virama</key>
    <string>sinS_s.virama.glif</string>
    <key>sinSsI</key>
    <string>sinS_sI_.glif</string>
    <key>sinSsIi</key>
    <string>sinS_sI_i.glif</string>
    <key>sinSsU</key>
    <string>sinS_sU_.glif</string>
    <key>sinSsUu</key>
    <string>sinS_sU_u.glif</string>
    <key>sinSsRa</key>
    <string>sinS_sR_a.glif</string>
    <key>sinSsRI</key>
    <string>sinS_sR_I_.glif</string>
    <key>sinSsRIi</key>
    <string>sinS_sR_I_i.glif</string>
    <key>sinSsR.virama</key>
    <string>sinS_sR_.virama.glif</string>
    <key>sinSsa.reph</key>
    <string>sinS_sa.reph.glif</string>
    <key>sinSsU.reph</key>
    <string>sinS_sU_.reph.glif</string>
    <key>sinSsUu.reph</key>
    <string>sinS_sU_u.reph.glif</string>
    <key>sinS.virama</key>
    <string>sinS_.virama.glif</string>
    <key>sinSI</key>
    <string>sinS_I_.glif</string>
    <key>sinSIi</key>
    <string>sinS_I_i.glif</string>
    <key>sinSU</key>
    <string>sinS_U_.glif</string>
    <key>sinSUu</key>
    <string>sinS_U_u.glif</string>
    <key>sinSRa</key>
    <string>sinS_R_a.glif</string>
    <key>sinSRI</key>
    <string>sinS_R_I_.glif</string>
    <key>sinSRIi</key>
    <string>sinS_R_I_i.glif</string>
    <key>sinSR.virama</key>
    <string>sinS_R_.virama.glif</string>
    <key>sinSa.reph</key>
    <string>sinS_a.reph.glif</string>
    <key>sinSU.reph</key>
    <string>sinS_U_.reph.glif</string>
    <key>sinSUu.reph</key>
    <string>sinS_U_u.reph.glif</string>
    <key>sinH.virama</key>
    <string>sinH_.virama.glif</string>
    <key>sinHAa</key>
    <string>sinH_A_a.glif</string>
    <key>sinHAa.virama</key>
    <string>sinH_A_a.virama.glif</string>
    <key>sinHI</key>
    <string>sinH_I_.glif</string>
    <key>sinHIi</key>
    <string>sinH_I_i.glif</string>
    <key>sinHU</key>
    <string>sinH_U_.glif</string>
    <key>sinHUu</key>
    <string>sinH_U_u.glif</string>
    <key>sinHRa</key>
    <string>sinH_R_a.glif</string>
    <key>sinHRI</key>
    <string>sinH_R_I_.glif</string>
    <key>sinHRIi</key>
    <string>sinH_R_I_i.glif</string>
    <key>sinHR.virama</key>
    <string>sinH_R_.virama.glif</string>
    <key>sinHa.reph</key>
    <string>sinH_a.reph.glif</string>
    <key>sinHU.reph</key>
    <string>sinH_U_.reph.glif</string>
    <key>sinHUu.reph</key>
    <string>sinH_U_u.reph.glif</string>
    <key>sinLl.virama</key>
    <string>sinL_l.virama.glif</string>
    <key>sinLlI</key>
    <string>sinL_lI_.glif</string>
    <key>sinLlIi</key>
    <string>sinL_lI_i.glif</string>
    <key>sinLlU</key>
    <string>sinL_lU_.glif</string>
    <key>sinLlUu</key>
    <string>sinL_lU_u.glif</string>
    <key>sinF.virama</key>
    <string>sinF_.virama.glif</string>
    <key>sinFAa</key>
    <string>sinF_A_a.glif</string>
    <key>sinFAa.virama</key>
    <string>sinF_A_a.virama.glif</string>
    <key>sinFI</key>
    <string>sinF_I_.glif</string>
    <key>sinFIi</key>
    <string>sinF_I_i.glif</string>
    <key>sinFU</key>
    <string>sinF_U_.glif</string>
    <key>sinFUu</key>
    <string>sinF_U_u.glif</string>
    <key>sinFRa</key>
    <string>sinF_R_a.glif</string>
    <key>sinFRI</key>
    <string>sinF_R_I_.glif</string>
    <key>sinFRIi</key>
    <string>sinF_R_I_i.glif</string>
    <key>sinFR.virama</key>
    <string>sinF_R_.virama.glif</string>
    <key>sinFa.reph</key>
    <string>sinF_a.reph.glif</string>
    <key>sinFU.reph</key>
    <string>sinF_U_.reph.glif</string>
    <key>sinFUu.reph</key>
    <string>sinF_U_u.reph.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>LithOne</key>
    <string>L_ithO_ne.glif</string>
    <key>LithTwo</key>
    <string>L_ithT_wo.glif</string>
    <key>LithThree</key>
    <string>L_ithT_hree.glif</string>
    <key>LithNine</key>
    <string>L_ithN_ine.glif</string>
    <key>LithFour</key>
    <string>L_ithF_our.glif</string>
    <key>LithFive</key>
    <string>L_ithF_ive.glif</string>
    <key>LithSix</key>
    <string>L_ithS_ix.glif</string>
    <key>LithSeven</key>
    <string>L_ithS_even.glif</string>
    <key>LithEight</key>
    <string>L_ithE_ight.glif</string>
    <key>LithZero</key>
    <string>L_ithZ_ero.glif</string>
    <key>ArchaicOne</key>
    <string>A_rchaicO_ne.glif</string>
    <key>ArchaicTwo</key>
    <string>A_rchaicT_wo.glif</string>
    <key>ArchaicThree</key>
    <string>A_rchaicT_hree.glif</string>
    <key>ArchaicFour</key>
    <string>A_rchaicF_our.glif</string>
    <key>ArchaicFive</key>
    <string>A_rchaicF_ive.glif</string>
    <key>ArchaicSix</key>
    <string>A_rchaicS_ix.glif</string>
    <key>ArchaicSeven</key>
    <string>A_rchaicS_even.glif</string>
    <key>ArchaicEight</key>
    <string>A_rchaicE_ight.glif</string>
    <key>ArchaicNine</key>
    <string>A_rchaicN_ine.glif</string>
    <key>ArchaicTen</key>
    <string>A_rchaicT_en.glif</string>
    <key>ArchaicTwenty</key>
    <string>A_rchaicT_wenty.glif</string>
    <key>ArchaicThirty</key>
    <string>A_rchaicT_hirty.glif</string>
    <key>ArchaicForty</key>
    <string>A_rchaicF_orty.glif</string>
    <key>ArchaicFifty</key>
    <string>A_rchaicF_ifty.glif</string>
    <key>ArchaicSixty</key>
    <string>A_rchaicS_ixty.glif</string>
    <key>ArchaicSeventy</key>
    <string>A_rchaicS_eventy.glif</string>
    <key>ArchaicEighty</key>
    <string>A_rchaicE_ighty.glif</string>
    <key>ArchaicNinety</key>
    <string>A_rchaicN_inety.glif</string>
    <key>ArchaicHundred</key>
    <string>A_rchaicH_undred.glif</string>
    <key>ArchaicThousand</key>
    <string>A_rchaicT_housand.glif</string>
  </dict>
</plist>
